/* body starts */
@keyframes example {
    0% {background-color: rgb(231, 241, 241);}
    50% {background-color: rgb(177, 238, 236);}
    100%{background-color: rgb(231, 241, 241);}
}
body{
    animation: 10s ease example infinite;
}
/* Navbar section starts */
#navbar{
border-bottom: 2px solid #1FE49C;
}
#navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #1FE49C;
}
/* homepage card and form div */
#homepage-div{
    margin-top: 80px;
}
#signin-form-div{
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 2px solid rgb(2, 150, 248);
    background-color: rgb(36, 35, 35);
}
#signin-form-btn{
    margin-top: 15px;
}

/* Signin form starts */
.forms-title{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-size: 28px;
    font-weight: bold;
}
.form-label{
    color: rgb(2, 150, 248);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.form-btn{
display: flex;
justify-content: center;
padding-top: 5px;
}
/*feedback page starts*/
#signoutbtn{
    color:white;
    border-color: white;
    font-weight: 500;
}
#signoutbtn:hover{
    color:black;
    background-color: white;
}
#feedback-card-form{
    margin-top: 50px;
    margin-bottom: 40px;
}
#feedback-card{
    margin-bottom: 30px;
}

#feedback-text{
    height: 150px;
}
/*feedback catorgories list*/
#catagories-list{
    margin-top: 30px;
}
#cat-list-item-0{
    font-size: 24px;
    font-weight: bold;
    color: #1FE49C;
}
#keywords-table{
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
}
#keywords-table legend{
    padding-left: 10px;
    color:#1FE49C;
    font-weight: bold;
}
#keywords-table.table thead th{
    border-top: 2px solid #dee2e6;
}
#keywords-table tr > th{
    color: rgb(2, 150, 248);
}
#keywords-table tr:nth-child(even){
    font-weight: 500;
    color: rgb(4, 119, 139);
}
#keywords-table tr:nth-child(odd){
    font-weight: 500;
    color:rgb(49, 196, 127);
}
.results-hidden{
    display: none;
}
.results-visible{
    display: block;
}
#replycard{
    margin-top: 130px;
}
#reply-backbtn{
    margin-top: 30px;
    margin-right: 10px;
    font-weight: 600;
    float: right;
    padding-left:30px;
    padding-right: 30px; 
    color:white;
    border-color: white;
    background-color: #343a40;
}
#reply-backbtn:hover{
    color:black;
    background-color: white;
}
@media (max-width:450px) {
    #navbar-brand{
        font-size: 23px;
    }
    #signoutbtn{
        font-size: 14px;
        margin-left: -20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #navbar li.ml-auto.nav-item{
        margin-left: 0 !important;
        text-align: left;
    }
    .form-btn{
        display: block;
        
    }
    .form-btn button{
        margin-bottom: 15px;
        margin-left: 25% !important;
    }
    button#show-result{
        margin-left: 27% !important;
    }
}